## default is ignore for all files
*
.*



### not ignore

## dirs (Do not ignore directories)
!*/
!/utils/*

## files
!.gitignore
!pom.xml
!ChangeLog
!license-headers
!LICENSE
!NOTICE
!*.md
!*.sh

# include only these files in remote
!/properties/remote/**/*sample.yml



### ignore
/target/

## files
/properties/remote/**/*.yml
.DS*
